div.Header {
    max-width: fit-content;
    margin-inline: auto;
    border-radius: 10vw;

    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0.75vh;  /* 1vh below the top of the viewport */
    left: 0;   /* Align to the left of the viewport */
    right: 0;  /* Align to the right of the viewport */
        
    background: transparent;
    backdrop-filter: blur(10px);

    border-style: solid;
    border-color: rgb(198, 228, 255);
    border-width: 0.1vh;
    z-index: 999;
}

h2.PageSections {
    background-color: rgb(117, 191, 255);
    padding: 1vw;
    border-radius: 10vw;
    margin: 0.5vw;
    cursor: pointer;
    transition-duration: 0.4s;
}

h2.PageSections:hover {
    background-color: rgb(0, 136, 255);
}